<footer class="footer">
    <div class="content">
        <div class="input-info">
            <div class="desc">
                <h4>NHẬN BẢN TIN LÀM ĐẸP</h4>
                <p>
                    Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn
                </p>
            </div>
            <div class="input-email">
                <input
                    placeholder="Điền email của bạn"
                    type="email"
                    name="email"
                    id="input-email"
                />
                <span>THEO DÕI</span>
            </div>
        </div>
        <div class="footer-contact">
            <div class="row row-top">
                <div class="column">
                    <h3 class="heading">VỀ BEAUTY BOX</h3>
                    <ul class="list">
                        <li class="item">
                            <a href="#!">Câu chuyện thương hiệu</a>
                        </li>
                        <li class="item">
                            <a href="#!">Về chúng tôi</a>
                        </li>
                        <li class="item">
                            <a href="./contact.html">Liên hệ</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3 class="heading">CHÍNH SÁCH</h3>
                    <ul class="list">
                        <li class="item">
                            <a href="#!">Chính sách và quy định chung</a>
                        </li>
                        <li class="item">
                            <a href="#!">Chính sách và giao nhận thanh toán</a>
                        </li>
                        <li class="item">
                            <a href="#!">Chính sách đổi trả sản phẩm</a>
                        </li>
                        <li class="item">
                            <a href="#!"
                                >Chính sách bảo mật thông tin cá nhân</a
                            >
                        </li>
                        <li class="item">
                            <a href="#!">Điều khoản sử dụng</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3 class="heading">MY BEAUTY BOX</h3>
                    <ul class="list">
                        <li class="item">
                            <a href="#!">Quyền lợi thành viên</a>
                        </li>
                        <li class="item">
                            <a href="#!">Thông tin thành viên</a>
                        </li>
                        <li class="item">
                            <a href="#!">Theo dõi đơn hàng</a>
                        </li>
                        <li class="item">
                            <a href="#!">Hướng dẫn mua hàng online</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <h3 class="heading">ĐỐI TÁC - LIÊN KẾT</h3>
                    <p class="desc">THE FACE SHOP Vietnam</p>
                    <div class="social">
                        <a href="#!" class="social-link">
                            <img src="./assets/img/social.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="row row-bot">
                <img
                    src="./assets/img/logo.png"
                    alt="Beautybox."
                    class="logo"
                />
                <p class="copyright">
                    Copyright 2020.com, All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
