<header class="header">
    <div class="discount-info">
        <div class="desc">100% chính hãng</div>
        <div class="separator"></div>
        <div class="desc">Giảm 120K cho đơn hàng từ 999K</div>
        <div class="separator"></div>
        <div class="desc">Gía tốt nhất</div>
        <div class="separator"></div>
        <div class="desc">Mua và nhận tại cửa hàng</div>
    </div>

    <div class="content">
        <div class="store-info">
            <!-- Logo  -->
            <a href="./index.html"
                ><img src="./assets/img/logo.png" alt="" class="logo-img"
            /></a>

            <!-- Find Input  -->
            <form action="/beaty-box-cosmetic/index-logined.html" method="get">
                <div class="search">
                    <button type="submit" style="cursor: pointer; width: 50px;" class="btn">
                        <!-- <i class="fa-solid fa-magnifying-glass search-icon"></i> -->
                        SEARCH
                    </button>
    
                    <input
                        class="input-find"
                        type="text"
                        name="search"
                        placeholder="Freeship cho đơn từ 155K"
                    />
                </div>
            </form>

            
            <div class="menu-section menu">
                <div class="user-logined">
                    <a href="./frofile.html" class="link link-login">
                        <span>ĐÀO THẢO</span>
                    </a>
                </div>
                <div class="liked">
                    <a href="#!" class="link">
                        <img
                            src="./assets/img/heart-3.png"
                            alt=""
                            class="icon-img"
                        />
                    </a>
                </div>
                <div class="top-act__btn">
                    <a href="./shipping.html" class="link">
                        <img
                            src="./assets/img/cart-3.png"
                            alt=""
                            class="icon-img"
                        />
                    </a>

                    <!-- Dropdown -->
                    <div class="btn-wrap">
                        <div class="act-dropdown">
                            <div class="act-dropdown__inner">
                                <img
                                    src="./assets/img/arrow-up.svg"
                                    alt=""
                                    class="act-dropdown__arrow"
                                />
                                <div class="act-dropdown__top">
                                    <h2 class="act-dropdown__title">
                                        Giỏ hàng của bạn
                                    </h2>
                                    <a
                                        href="./checkout.html"
                                        class="act-dropdown__view-all"
                                        >Xem tất cả</a
                                    >
                                </div>

                                <div class="row act-dropdown__list">
                                    <div class="cart-preview">
                                        <!-- Cart preview item 1 -->
                                        <article class="cart-preview-item">
                                            <img
                                                src="./assets/img/prod-1.svg"
                                                alt=""
                                                class="cart-previewitem__thumb"
                                            />
                                            <div class="cart-preview-item__content">
                                                <h2
                                                    class="cart-preview-item__title"
                                                >
                                                    Tinh Chất Chống Lão Hóa AHC
                                                    Youth Focus Essence
                                                </h2>
                                                <span
                                                    class="cart-preview-item__price"
                                                    >Giá: 1.320.000</span
                                                >
                                                <span>
                                                    Số lượng: <span class="countItem">1</span>
                                                </span>
                                            </div>
                                        </article>

                                        <!-- Cart preview item 2 -->
                                        <!-- <article class="cart-preview-item">
                                            <img
                                                src="./assets/img/prod-1.svg"
                                                alt=""
                                                class="cart-previewitem__thumb"
                                            />
                                            <h2
                                                class="cart-preview-item__title"
                                            >
                                                Tinh Chất Chống Lão Hóa AHC
                                                Youth Focus Essence
                                            </h2>
                                            <span
                                                class="cart-preview-item__price"
                                                >1.320.000</span
                                            >
                                        </article> -->

                                        <!-- Cart preview item 3 -->
                                        <!-- <article class="cart-preview-item">
                                            <img
                                                src="./assets/img/prod-1.svg"
                                                alt=""
                                                class="cart-previewitem__thumb"
                                            />
                                            <h2
                                                class="cart-preview-item__title"
                                            >
                                                Tinh Chất Chống Lão Hóa AHC
                                                Youth Focus Essence
                                            </h2>
                                            <span
                                                class="cart-preview-item__price"
                                                >1.320.000</span
                                            >
                                        </article> -->

                                        <!-- Cart preview item 3 -->
                                        <!-- <article class="cart-preview-item">
                                            <img
                                                src="./assets/img/prod-1.svg"
                                                alt=""
                                                class="cart-previewitem__thumb"
                                            />
                                            <h2
                                                class="cart-preview-item__title"
                                            >
                                                Tinh Chất Chống Lão Hóa AHC
                                                Youth Focus Essence
                                            </h2>
                                            <span
                                                class="cart-preview-item__price"
                                                >1.320.000</span
                                            >
                                        </article> -->
                                    </div>
                                </div>

                                <div class="act-dropdown__bottom">
                                    <div class="act-dropdown__row">
                                        <span class="act-dropdown__lable"
                                            >Giá:
                                        </span>
                                        <span class="act-dropdown__value"
                                            >1.320.000</span
                                        >
                                    </div>

                                    <div class="act-dropdown__row">
                                        <span class="act-dropdown__lable"
                                            >Phí ship:
                                        </span>
                                        <span class="act-dropdown__value"
                                            >30000</span
                                        >
                                    </div>

                                    <div
                                        class="act-dropdown__row act-dropdown__row-bold"
                                    >
                                        <span class="act-dropdown__lable"
                                            >Tổng tiền
                                        </span>
                                        <span class="act-dropdown__value"
                                            >1.350.000</span
                                        >
                                    </div>
                                </div>

                                <div class="act-dropdown__checkout">
                                    <a
                                        href="./checkout.html"
                                        class="btn-checkout button btn-primary hidden"
                                        >Thanh toán</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar  -->
        <nav class="navbar">
            <ul class="menu-item">
                <li class="sub-menu">
                    <a href="#!" class="menu-link">Thương hiệu</a>

                    <div class="mega-menu">
                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">TẤT CẢ THƯƠNG HIỆU</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">A'pieu</a>
                                </li>
                                <li>
                                    <a href="#!">AHC</a>
                                </li>
                                <li>
                                    <a href="#!">Beauty Box</a>
                                </li>
                                <li>
                                    <a href="#!">Banila Co</a>
                                </li>
                                <li>
                                    <a href="#!">Cosrx</a>
                                </li>
                                <li>
                                    <a href="#!">Club Clio</a>
                                </li>
                                <li>
                                    <a href="#!">Dear Dahlia</a>
                                </li>
                                <li>
                                    <a href="#!">Dermatory</a>
                                </li>
                                <li>
                                    <a href="#!">Peripera</a>
                                </li>
                                <li>
                                    <a href="#!">THE FACE SHOP</a>
                                </li>
                                <li>
                                    <a href="#!">Goodal</a>
                                </li>
                                <li>
                                    <a href="#!">Skinfood</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <img
                                src="./assets/img/famous-brand-2.webp"
                                alt=""
                            />
                        </div>

                        <div class="mega-item">
                            <img
                                src="./assets/img/famous-brand-2.webp"
                                alt=""
                            />
                        </div>

                        <div class="mega-item">
                            <img
                                src="./assets/img/famous-brand-3.webp"
                                alt=""
                            />
                        </div>
                    </div>
                </li>

                <li class="sub-menu">
                    <a href="#!" class="menu-link">Khuyến mại hot </a>

                    <div class="mega-menu">
                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">KHUYẾN MÃI HOT</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!"
                                        >LÀM ĐẸP TỐI GIẢN | ƯU ĐÃI ĐẾN 50%</a
                                    >
                                </li>
                                <li>
                                    <a href="#!"
                                        >TRANG ĐIỂM NHẸ NHÀNG, CHUẨN LÌ LÂU
                                        TRÔI</a
                                    >
                                </li>
                                <li>
                                    <a href="#!"
                                        >RINH DEAL SIÊU TIẾT KIỆM ĐẾN 50%</a
                                    >
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <img src="./assets/img/discount-1.webp" alt="" />
                        </div>

                        <div class="mega-item">
                            <img src="./assets/img/discount-2.webp" alt="" />
                        </div>

                        <div class="mega-item">
                            <img src="./assets/img/discount-3.webp" alt="" />
                        </div>
                    </div>
                </li>

                <li class="sub-menu">
                    <a href="#!" class="menu-link">Sản phẩm mới</a>
                </li>

                <li class="sub-menu">
                    <a href="#!" class="menu-link">Trang điểm</a>

                    <div class="mega-menu">
                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">TRANG ĐIỂM MẶT</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Kem nền</a>
                                </li>
                                <li>
                                    <a href="#!">Kem lót</a>
                                </li>
                                <li>
                                    <a href="#!">Che khuyết điểm</a>
                                </li>
                                <li>
                                    <a href="#!">Phấn má hồng</a>
                                </li>
                                <li>
                                    <a href="#!">Phấn nước cushion</a>
                                </li>
                                <li>
                                    <a href="#!">Phấn phủ</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">TRANG ĐIỂM MÔI</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Son thỏi</a>
                                </li>
                                <li>
                                    <a href="#!">Son kem</a>
                                </li>
                                <li>
                                    <a href="#!">Son tint</a>
                                </li>
                                <li>
                                    <a href="#!">Son bóng</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">TRANG ĐIỂM MẮT</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Mascara</a>
                                </li>
                                <li>
                                    <a href="#!">Kẻ chân mày</a>
                                </li>
                                <li>
                                    <a href="#!">Phấn mắt</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">PHỤ KIỆN TRANG ĐIỂM</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Cọ trang điểm</a>
                                </li>
                                <li>
                                    <a href="#!">Mút trang điểm</a>
                                </li>
                                <li>
                                    <a href="#!">Bông cotton</a>
                                </li>
                                <li>
                                    <a href="#!">Phụ kiện trang điểm khác</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="sub-menu">
                    <a href="#!" class="menu-link">Dưỡng da</a>

                    <div class="mega-menu">
                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">DƯỠNG DA MẶT</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Nước cân bằng</a>
                                </li>
                                <li>
                                    <a href="#!">Xịt khoáng</a>
                                </li>
                                <li>
                                    <a href="#!">Sữa dưỡng</a>
                                </li>
                                <li>
                                    <a href="#!">Tinh chất dưỡng</a>
                                </li>
                                <li>
                                    <a href="#!">Kem dưỡng mắt</a>
                                </li>
                                <li>
                                    <a href="#!">Kem dưỡng da mặt</a>
                                </li>
                                <li>
                                    <a href="#!">Bộ chăm sóc da</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">Làm sạch</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Sữa rửa mặt</a>
                                </li>
                                <li>
                                    <a href="#!">Tẩy trang da mặt</a>
                                </li>
                                <li>
                                    <a href="#!">Tẩy trang mắt và môi</a>
                                </li>
                                <li>
                                    <a href="#!">Tẩy tế bào chết da mặt</a>
                                </li>
                                <li>
                                    <a href="#!">Phụ kiện làm sạch</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">MẶT NẠ</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Mặt nạ giấy</a>
                                </li>
                                <li>
                                    <a href="#!">Mặt nạn dưỡng</a>
                                </li>
                                <li>
                                    <a href="#!">Mặt nạ mắt</a>
                                </li>
                                <li>
                                    <a href="#!">Mặt nạ môi</a>
                                </li>
                                <li>
                                    <a href="#!">Mặt nạ ngủ</a>
                                </li>
                                <li>
                                    <a href="#!">Mặt nạ tay chân</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <img src="./assets/img/routine.webp" alt="" />
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">CHỐNG NẮNG</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Serum/ Kem chống nắng</a>
                                </li>
                                <li>
                                    <a href="#!">Xịt chống nắng</a>
                                </li>
                                <li>
                                    <a href="#!">Sáp chống nắng</a>
                                </li>
                                <li>
                                    <a href="#!">Sữa/ Gel chống nắng</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">DƯỠNG DA DÀNH CHO NAM</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Dưỡng da mặt dành cho nam</a>
                                </li>
                                <li>
                                    <a href="#!"
                                        >Sản phẩm làm sạch dành cho nam</a
                                    >
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">PHỤ KIỆN CHĂM SÓC DA</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Giấy thấm dầu</a>
                                </li>
                                <li>
                                    <a href="#!">Bông cotton</a>
                                </li>
                                <li>
                                    <a href="#!"
                                        >Miếng dán mụn/ miếng lột mụn đầu đen</a
                                    >
                                </li>
                                <li>
                                    <a href="#!">Dụng cụ chăm sóc da mặt</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="sub-menu">
                    <a href="#!" class="menu-link">Chăm sóc cá nhân</a>

                    <div class="mega-menu">
                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">CHĂM SÓC SỨC KHỎE</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Khẩu trang y tế</a>
                                </li>
                                <li>
                                    <a href="#!">Thực phẩm chức năng</a>
                                </li>
                                <li>
                                    <a href="#!">Nước/ Gel rửa tay</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">NƯỚC HOA</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Nước hoa</a>
                                </li>
                                <li>
                                    <a href="#!">Xịt thơm toàn thân</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">CHĂM SÓC RĂNG MIỆNG</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Kem đánh răng</a>
                                </li>
                                <li>
                                    <a href="#!">Bàn chải đánh răng</a>
                                </li>
                                <li>
                                    <a href="#!">Sản phẩm răng miệng khác</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <img
                                src="./assets/img/cham-soc-ca-nhan.webp"
                                alt=""
                            />
                        </div>
                    </div>
                </li>

                <li class="sub-menu">
                    <a href="#!" class="menu-link">Chăm sóc cơ thể</a>

                    <div class="mega-menu">
                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">CHĂM SÓC TOÀN THÂN</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Sữa/ Gel tắm</a>
                                </li>
                                <li>
                                    <a href="#!">Dưỡng thể</a>
                                </li>
                                <li>
                                    <a href="#!">Làm sạch tế bào chết cơ thể</a>
                                </li>
                                <li>
                                    <a href="#!">Kem dưỡng tay/ chân</a>
                                </li>
                                <li>
                                    <a href="#!">Lâu khử mùi</a>
                                </li>
                                <li>
                                    <a href="#!">Dụng cụ chăm sóc cơ thể</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item">
                            <h2 class="title-menu-item">
                                <a href="#!">CHĂM SÓC TÓC</a>
                            </h2>

                            <div class="separate"></div>

                            <ul class="list-mega">
                                <li>
                                    <a href="#!">Dầu gội</a>
                                </li>
                                <li>
                                    <a href="#!">Dầu xả</a>
                                </li>
                                <li>
                                    <a href="#!">Sản phẩm dưỡng tóc</a>
                                </li>
                                <li>
                                    <a href="#!">Sản phẩm tạo nếp tóc</a>
                                </li>
                                <li>
                                    <a href="#!">Sản phẩm nhuộm tóc</a>
                                </li>
                                <li>
                                    <a href="#!">Dụng cụ cho tóc</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mega-item"></div>

                        <div class="mega-item">
                            <img
                                src="./assets/img/cham-soc-co-the.webp"
                                alt=""
                            />
                        </div>
                    </div>
                </li>

                <li class="sub-menu">
                    <a href="#!" class="menu-link">Nhận mã ưu đãi</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script src="./assets/angular/angular.min.js"></script>
<script src="./assets/angular/global.js"></script>
        <script src="./assets/angular/sign-in.js"></script>
